# Ignorar todo por defecto
*

# No ignorar el archivo README.md
!.gitignore
!README.md

# No ignorar index.php
!index.php

# No ignorar la carpeta .devcontainer y su contenido
!.devcontainer/
!.devcontainer/**
!._recursos/
!._recursos/**

!.python/
!.java/